Makefile
Makefile.in
stamp-h?

/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/docs/tutorial/html/
/docs/tutorial/__pycache__/
/docs/tutorial/*/index.docbook
/docs/tutorial/*/*.mo
/docs/tutorial/*/*.stamp
/gtkmm-documentation-*.tar.*
