*.o
*.lo
.deps/
.dirstamp
.libs/
example
!example/
/book/base/base
/book/buttons/button/buttons
/book/buttons/radiobutton/radiobuttons
/book/dialogs/aboutdialog/resources.c
/book/drag_and_drop/drag_and_drop
/book/drawingarea/arcs/drawingareaarcs
/book/drawingarea/clock/cairoclock
/book/drawingarea/curve/drawingareacurve
/book/drawingarea/image/drawingareaimage
/book/drawingarea/image/resources.c
/book/drawingarea/joins/cairojoins
/book/drawingarea/simple/drawingarea
/book/giomm/getline/getline
/book/giomm/monitor_directory/monitor_directory
/book/giomm/usage/usage
/book/helloworld/helloworld
/book/helloworld2/helloworld2
/book/idle/idle
/book/menus/main_menu/main_menu
/book/menus/popup/popup
/book/menus_and_toolbars/resources.c
/book/socket/plug
/book/socket/socket
/book/timeout/timeout
/others/calendar/calendar
/others/dnd/testdnd
/others/exception/exceptiontest
/others/statusbar/statusbar
/others/tictactoe/ttt_test
/others/window/wheelbarrow
