/* Example of a CSS style sheet with a custom style property.
 *
 * The name of the style property must have its canonical form, i.e. characters
 * other than ASCII letters, digits, and hyphens must be replaced by hyphens.
*/

* {
  /* -<widget class name>-<style property canonical name>: <value>; */
  -gtkmm__CustomObject_MyWidget-example-scale: 920;
  -gtkmm__CustomObject_MyWidget2-example-scale: 1000;
}

my-widget {
  background-color: rgb(255,0,0);
  color:            rgb(0,0,255);
}

my-widget2 {
  background-color: rgb(255,255,0);
  color:            rgb(255,0,0);
}
